backup
./backup

media
./media

staticfiles
./staticfiles

.well-known
./.well-known

__pycache__
./__pycache__

public
./public

tmp
./tmp

.ftpquota
db.sqlite3
.htaccess
passenger_wsgi.py
.htaccess

/.ftpquota
/db.sqlite3
/.htaccess
/passenger_wsgi.py
/.htaccess

./ftpquota
./db.sqlite3
./.htaccess
./passenger_wsgi.py